{% extends 'base.html.twig' %}

{% block title %}Créer un Événement{% endblock %}

{% block body %}
    <h1>Créer un nouvel événement</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}