{% extends 'base.html.twig' %}

{% block title %}Modifier l'Événement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier l'Événement</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
            <a href="{{ path('organisateur_dashboard') }}" class="btn btn-secondary mt-3">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}